In [11]:
import csv
import pandas as pd
import numpy as np

In [8]:
file = open('../log.txt', 'r')
line = file.readlines(1500)
title = line[-2:-1]
col = [x.strip(' ') for x in [i.split('|') for i in line[-2:-1]][0]]
col = col[1:-1]
data_list=[]
line = file.readline()
count=0
while ((count<2000) & (line != title[0])):
#while(line != []):
    #line = file.readline()
    line = [x.strip(' ') for x in line.split('|')][1:-1]
    data_list.append(line)
    count = count + 1
    #print(count)
    line = file.readline()
#line = file.readline()

'''
data = pd.DataFrame(data_list,columns=col)
data = data.iloc[:-6,0:]

for name in ['lat', 'lon','velocity','heading','vertrate','baroaltitude','geoaltitude','lastposupdate','lastcontact']:
    data[name] = pd.to_numeric(data[name], errors='coerce')
'''
'''
if (line==title[0]):
    print('Yes')
else:
    print(line)
    print(title[0])
'''

line = file.readline()
line = [x.strip(' ') for x in line.split('|')][1:-1]
file.close()
line

[]

In [3]:
file = open('../log.txt', 'r')
line = file.readlines(1500)
title = line[-2:-1]
col = [x.strip(' ') for x in [i.split('|') for i in line[-2:-1]][0]]
col = col[1:-1]
line = file.readline()
line = [x.strip(' ') for x in line.split('|')][1:-1]
line

['1520206451',
 '7800ac',
 'NULL',
 'NULL',
 '193.8798774346463',
 '52.00501140089782',
 '5.20192',
 'NULL',
 'false',
 'false',
 'false',
 'NULL',
 '3329.94',
 'NULL',
 'NULL',
 '1520206450.801',
 '1520204400']

In [39]:
file = open('../log.txt', 'r')
line = file.readlines(1500)
title = line[-2:-1]
col = [x.strip(' ') for x in [i.split('|') for i in line[-2:-1]][0]]
col = col[1:-1]
line = file.readline()
line = [x.strip(' ') for x in line.split('|')][1:-1]
data_list=[]
callsign = line[7]
data = pd.DataFrame(columns=col)
while ((line != []) & (line[7] == callsign)):
    data_list.append(line)
    sub_data = pd.DataFrame(data_list,columns=col)
    #print(sub_data)
    data = data.append(sub_data, ignore_index=True)
    data_list = []
    line = file.readline()
    line = [x.strip(' ') for x in line.split('|')][1:-1]

if (line==[]):
    for i in range (4):
        line = file.readline()
file.close()
data=data.dropna()
data

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour
0,1520206451,7800ac,NULL,NULL,193.8798774346463,52.00501140089782,5.20192,NULL,false,false,false,NULL,3329.94,NULL,NULL,1520206450.801,1520204400
1,1520206452,7800ac,NULL,NULL,194.2855506423712,52.09840428415822,5.52704,NULL,false,false,false,NULL,3329.94,3467.1,NULL,1520206451.845,1520204400
2,1520206453,7800ac,NULL,NULL,195.3241640411098,51.95295746817392,8.128,NULL,false,false,false,NULL,3337.56,3474.72,NULL,1520206452.626,1520204400
3,1520206454,7800ac,24.82969665527344,118.5289510091146,195.3241640411098,51.95295746817392,9.42848,NULL,false,false,false,NULL,3345.18,3482.34,1520206453.149,1520206453.669,1520204400
4,1520206455,7800ac,24.83133606991525,118.5312350291126,195.7295480585668,52.04576912486749,10.07872,NULL,false,false,false,0733,3360.42,3497.58,1520206454.714,1520206454.982,1520204400
5,1520206456,7800ac,24.83133606991525,118.5312350291126,196.0463671335829,51.92721812600917,10.40384,NULL,false,false,false,0733,3360.42,3497.58,1520206454.714,1520206455.768,1520204400
6,1520206457,7800ac,24.83294677734375,118.5335286458333,196.4516080269804,52.01974172320357,10.40384,NULL,false,false,false,0733,3375.66,3512.82,1520206456.295,1520206456.82,1520204400
7,1520206458,7800ac,24.8345947265625,118.535847214033,196.4516080269804,52.01974172320357,10.40384,NULL,false,false,false,0733,3383.28,3520.44,1520206457.864,1520206457.864,1520204400
8,1520206459,7800ac,24.83578491210938,118.5374959309896,196.4516080269804,52.01974172320357,10.40384,NULL,false,false,false,0733,3398.52,3520.44,1520206458.907,1520206458.907,1520204400

In [4]:
c = ('N{}'.format(5))
type(c)

str

In [9]:
line = ""
line = [x.strip(' ') for x in line.split('|')][1:-1]
line

[]

In [28]:
line = [['1520206451', '7800ac', 'NULL', 'NULL', '193.8798774346463', '52.00501140089782', '5.20192', 'NULL', 'false', 'false', 'false', 'NULL', '3329.94', 'NULL', 'NULL', '1520206450.801', '1520204400']]
pd.DataFrame(line,columns=col)

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour
0,1520206451,7800ac,NULL,NULL,193.8798774346463,52.00501140089782,5.20192,NULL,false,false,false,NULL,3329.94,NULL,NULL,1520206450.801,1520204400

In [42]:
len(line)

17

In [ ]:
file = open('../log.txt', 'r')
line = file.readlines(1500)
title = line[-2:-1]
col = [x.strip(' ') for x in [i.split('|') for i in line[-2:-1]][0]]
col = col[1:-1]
line = file.readline()
line = [x.strip(' ') for x in line.split('|')][1:-1]
count_null = 0

while line != "":
    data_list=[]
    callsign = line[7]
    data = pd.DataFrame(columns=col)
    while (line[7] == callsign):
        data_list.append(line)
        line = file.readline()
        line = [x.strip(' ') for x in line.split('|')][1:-1]
        if (line==[]):
            for i in range (4):
                line = file.readline()
                line = [x.strip(' ') for x in line.split('|')][1:-1]
            print('Change table')

    data = pd.DataFrame(data_list,columns=col)
    print(callsign)
    
    
   
    
file.close()